version: '3.8'

services:
  chatbot:
    build: .
    container_name: chatbot-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - GEMINI_API_KEY
    restart: unless-stopped
